body{
    background-color: #eee;
}
.atlas {
    flex-direction: column;
    position: relative !important;
}
.atlas-container, .atlas, .atlas-canvas, .atlas-overlay {
    height: 90vh !important;
}

.atlas-overlay {
    position: absolute !important;
    overflow: hidden;
}
.atlas-overlay > div {
    transform: none !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
    bottom: 0 !important;
    right: 0 !important;
    top: auto !important;
}
#atlas-floating-ui {
    margin-bottom: 4em;
}


/****************************************/
/****************************************/

/**
* Dark mode support
*/

@media (prefers-color-scheme: dark) {

}


/****************************************/
/*			Responsive breaking points			*/
/****************************************/

/**
* wide Screen
*/
@media only screen and (min-width: 1600px) {
    .atlas-overlay > div {
        width: 35% !important;
    }
}

@media only screen and (max-width: 1599px) {
    .atlas-overlay > div {
        width: 45% !important;
    }
}

/**
* computer
*/

@media only screen and (max-width: 1199px) {
    .atlas-overlay > div {
        width: 55% !important;
    }
}

/**
* Small computer, Tablet landscape
*/

@media only screen and (max-width: 1024px) {
       .atlas-overlay > div {
        width: 65% !important;
    }
}


/**
* Tablet portrait
*/

@media only screen and (max-width: 768px) {
.atlas-overlay > div {
    transform: none !important;
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16/9 !important;
    bottom: 0 !important;
    right: 0 !important;
    top: auto !important;
}
}

/**
* Phone landscape ONLY
*/

@media only screen and (max-width: 850px) and (orientation:landscape) {

}

/**
*    Phones
*/

@media screen and (max-width: 500px) {

}

@media only screen and (max-width: 421px) {

}

.actions.hide{
    display: none;
}